<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring6AuthServerApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-6-auth-server" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ch.springframeworkguru.spring6authserver.Spring6AuthServerApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>